/* debug */

/* debug */

/* common */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  width: 80%;
  margin: 20px auto 10px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* header */
header > nav {
  height: 150px;
  background-color: #e579e6;
}
header > section {
  height: 500px;
  margin-top: 20px;
  background-color: #e1d67a;
}

/* main */
main {
  height: 600px;
  background-color: #0089fe;
}
main > * {
  background-color: #abcfe7;
}
main > div {
  float: left;
  height: 100px;
  width: 100%;
}
main > aside {
  height: 450px;
  width: 20%;
  margin: 20px 0;
}
aside.sx {
  float: left;
}
aside.dx {
  float: right;
}
main > article {
  float: left;
  height: 450px;
  margin: 20px;
  width: 55%;
}

/* footer */
footer {
  height: 35px;
  width: 80%;
  margin: 0 auto;
  background-color: #8801fe;
}
